.doCard {
  width: 380px;
  height: 250px;
  background-color: lightgreen;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 0 auto;
  z-index: 3;
  transition: 1s all ease-in-out;
  cursor: pointer;
  margin: 0px 15px;
  overflow: hidden;

  .cardFirstBanner {
    width: 140px;
    height: 100%;
    background-color: var(--dark-green);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: translateX(240px); /* Initial position at the right */
    transition: transform 1s ease-in-out;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    p {
      font-size: 18px;
      font-weight: 400;
      color: var(--main-white);
      letter-spacing: 2px;
    }

    .cardBannerIcon {
      transition: 0.4s all ease-in-out;
    }
  }

  .cardBannerReveal {
    width: 240px;
    height: 100%;
    background-color: rgba(115, 169, 66, 0.8);
    color: var(--main-white);
    font-size: 18px;
    padding: 10px;
    overflow-y: scroll;
    opacity: 0;
    transform: translateX(
      100%
    ); /* Initially move it out of the container to the right */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Apply transition to opacity and transform */

    &::-webkit-scrollbar {
      width: 12px; /* Set the width of the scrollbar */
    }

    &::-webkit-scrollbar-thumb {
      background-color: #888; /* Set the color of the scrollbar thumb */
      border-radius: 6px; /* Set the radius of the scrollbar thumb */
    }

    &::-webkit-scrollbar-track {
      background-color: #f1f1f1; /* Set the color of the scrollbar track */
    }
  }
}

.doCard:hover .cardBannerReveal {
  opacity: 1;
  transform: translateX(0); /* Move it back to its original position on hover */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.doCard:hover .cardBannerIcon {
  transform: rotate(180deg);
}

.doCard:hover .cardFirstBanner {
  transform: translateX(0); /* Move it to the left on hover */
  transition: transform 1s ease-in-out;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
