.doCard {
  width: 380px;
  height: 250px;
  background-color: lightgreen;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 0 auto;
  z-index: 3;
  transition: 1s all ease-in-out;
  cursor: pointer;
  margin: 0px 15px;
  overflow: hidden;

  .cardFirstBanner {
    width: 140px;
    height: 100%;
    background-color: var(--dark-green);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: translateX(240px); /* Initial position at the right */
    transition: transform 1s ease-in-out;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    p {
      transform: rotate(90deg);
      font-size: 20px;
      font-weight: 400;
      white-space: nowrap;
      color: var(--main-white);
      letter-spacing: 2px;
    }
  }

  .cardBannerReveal {
    width: 240px;
    height: 100%;
    background-color: red;
    opacity: 0;
    transform: translateX(
      100%
    ); /* Initially move it out of the container to the right */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Apply transition to opacity and transform */
  }
}

.doCard:hover .cardBannerReveal {
  opacity: 1;
  transform: translateX(0); /* Move it back to its original position on hover */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.doCard:hover .cardFirstBanner {
  transform: translateX(0); /* Move it to the left on hover */
  transition: transform 1s ease-in-out;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
