@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --home-herobox: #031822;
  --big-title: #578847;
  --main-white: #ffffff;
  --main-hover-white: #ebebeb;
  --main-black: #000000;
  --dark-green: #245501;
  --light-green: #aad576;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
